h1[data-v-347a666e],h2[data-v-347a666e]{font-weight:400}ul[data-v-347a666e]{list-style-type:none;padding:0}li[data-v-347a666e]{display:inline-block;margin:0 10px}a[data-v-347a666e]{color:#42b983}textarea[data-v-347a666e]{width:600px;height:50px}
/*# sourceMappingURL=app.1ed6fd44ee9d37fda69e11c9af2b9537.css.map */